<div class="container">
  <div class="row">
    <div class="row publicLibraries longSection">
      <h1>All Libraries</h1>
      <% @libraries.each do |library| %>
        <div class='col-md-3 libBox'>
            <div class='row'>
              <a href='/libraries/<%= library.id %>'>
              <div class='col-md-12'>
                <h4><strong><%= library.title.capitalize %></strong></h4>
                <p>"<%= library.description %>"</p>
                <p> Number of Links: <%= library.links.size %></p>
              </div></a>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
