<div class='container'>
  <div class='row'>
    <h2>Recently Added Links</h2>
      <%= render 'recent_links' %>
  </div>
  <div class='row popularLibrarySection'>
    <h2>Most Popular Libraries</h2>
      <%= render 'popular_libraries' %>
  </div>

</div>

