<div class='container'>
  <h2>Recently Added Links</h2>
  <div class='row longSection'>
        <%= render 'recent_links' %>
  </div>

  <h2>Most Popular Libraries</h2>
  <div class='row longSection'>
        <%= render 'popular_libraries' %>
  </div>
</div>

