.navbar {
  background-color: white;

}
.navbar-default .navbar-brand {
  color: greygi;
  font-size: 30px;
}
.navbar-default .navbar-nav>li>a {
  /*font-size: 16px;
  color: black;*/
}

.navbar-default .navbar-nav>li {
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {

}

.navbar-default .navbar-nav ul li{
  font-size: 16px;
  color: black;
  text-align: right;
  display: inline;
  float: left;
}
